<form class="example-form" [formGroup]="ruleForm" (ngSubmit)="SaveRule()">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pattern</mat-label>
        <input matInput placeholder="Enter your pattern" formControlName="pattern" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput placeholder="URL" formControlName="url" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Update</button> |
        <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
