<form class="example-form" [formGroup]="ruleForm" (ngSubmit)="SaveRule()">
  <mat-card>
    <mat-card-content>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="NameControl.hasError('forbiddenName')">This name has been already used</mat-error>
        <mat-error *ngIf="NameControl.hasError('required')">Name couldn't be empty</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" mar>
        <mat-label>Pattern</mat-label>
        <input matInput placeholder="Enter a unique pattern" formControlName="pattern" />
        <mat-error *ngIf="patternControl.hasError('forbiddenPattern')"> Pattern compination has been already used</mat-error>
        <mat-error *ngIf="patternControl.hasError('required')">Please insert a value</mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput placeholder="URL" formControlName="url" />
        <mat-error *ngIf="urlControl.hasError('required')">Url couldn't be empty</mat-error>
      </mat-form-field>


    </mat-card-content>
    <mat-card-footer>
      <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Update</button> |
        <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
