<div class="mat-elevation">
  <mat-form-field appearance="fill" class="btn-group" style="width: 500px; background-color:transparent;border-radius: 3px;">
    <mat-label>Main partner</mat-label>
    <mat-select class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:'primary';">
      <mat-option *ngFor="let partener of MainSites" [value]="partener" (onSelectionChange)="LoadPartenerRules(partener.name,partener.configurationFilePath,partener.folderPath)">
        {{ partener.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <div>
    <a mat-raised-button color="primary" routerLink="create" (click)="openAddPopup()" style="margin: 2%">Create New rule </a>
    <a mat-raised-button color="primary" class="history" routerLink="create" (click)="displayHistory()" style="margin: 2%">Site history</a>
  </div>




  <table mat-table [dataSource]="finalData" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Pattern Column -->
    <!-- <ng-container matColumnDef="pattern">
      <th mat-header-cell *matHeaderCellDef>Pattern</th>
      <td mat-cell *matCellDef="let element">{{ element.pattern }}</td>
    </ng-container> -->

    <!-- URL Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let element">{{ element.url }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <a mat-raised-button (click)="editRule(element)" color="primary">Edit</a>
          |
          <a mat-raised-button (click)="removeRule(element)" color="accent">Delete</a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColCumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColCumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page or periodic elements">
  </mat-paginator>
</div>
