<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <form fxLayoutAlign="stretch" fxLayout="column" class="main-form">
      <mat-card-content>

        <mat-toolbar color="primary">Login Page</mat-toolbar>

        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-error *ngIf="usernameControl.hasError('required')">Empty</mat-error>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="passwordControl.hasError('required')">Empty</mat-error>

        <div class="button">
          <button mat-raised-button type="submit" color="primary">Login</button>
        </div>

      </mat-card-content>
    </form>
  </mat-card>
</div>
